@keyframes faceIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideInFromBottom {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

animateFadeIn {
    animation: fadeIn 0.5s ease-out;
}

.animateSlideIn {
    animation: slideInFromBottom 0.5s ease-out;
}